:root {
    --main-color:white; 
    --secondary-color:#0A64A4;
    --accent-color:#FFFD54;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

header {
    height: 110px;
    width: 100%;
    background-color: var(--secondary-color);
}

.logotype {
    width: 100%;
    height: 100%;
    padding: 12px 0 0 10px;
}

nav {
    display: flex;
    flex-direction: row;
}

main {
    border: 1px solid green;
}

footer {
    border: 1px solid grey;
}